################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SalaryCalculator.Business/bin/Debug/netcoreapp2.2
