################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SalaryCalculator.Business/bin/Debug/netcoreapp2.2
/SalaryCalculator.Business/obj/Debug/netcoreapp2.2
/SalaryCalculator.Business/obj
/SalaryCalculator.DAL/bin/Debug/netcoreapp2.2
/SalaryCalculator.DAL/obj
/SalaryCalculator.Entities/bin/Debug/netcoreapp2.2
/SalaryCalculator.Entities/obj
/SalaryCalculatorAPI/bin/Debug/netcoreapp2.2
/SalaryCalculatorAPI/obj
/XUnitTestProject/bin/Debug/netcoreapp2.2
/XUnitTestProject/obj
/.vs/SalaryCalculatorAPI
